doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        style.
            @font-face {
                font-family: 'sf-pro-rounded-regular';
                src: url(./sf-pro-rounded-regular.ttf) format('truetype');
                font-style: normal;
                font-weight: normal;
            }

            @font-face {
                font-family: 'sf-pro-rounded-bold';
                src: url(./sf-pro-rounded-bold.ttf) format('truetype');
                font-style: normal;
                font-weight: normal;
            }

            .mainEmailBox{
                max-width: 800px;
                text-align: center;
                font-family: 'sf-pro-rounded-regular', sans-serif;
                margin: auto;
            }

            .emailImageBox{
                margin-bottom: 80px;
            }

            .emailImageText{
                font-size: 25px;
            }

            .emailMainText{
                margin-bottom: 40px;
            }

            .emailCodeSend{
                font-family: 'sf-pro-rounded-bold', sans-serif;
                color: #b92f28;
                font-size: 25px;
                margin: 30px 0;
            }

            .emailCodeMainBox{
                margin-bottom: 100px;
            }

            .bottomTextEmailBox{
                margin-bottom: 30px;
            }

            .BTE-text{
                font-family: 'sf-pro-rounded-bold', sans-serif;
            }

            .BTE-link{
                color: #DC3636;
                text-decoration: none;
            }

            .footer{
                background-color: #b92f28;
                color: #fff;
                padding-top: 30px;
            }

            .footerImageBox img{
                width: 70px;
            }

            .footerText{
                padding: 0 20px;
                margin: 20px 0;
            }

            .footerCopyright{
                font-family: 'sf-pro-rounded-bold', sans-serif;
                background-color: #DC3636;
                padding: 15px 0;
            }
        title Email
    body
        .mainEmailBox
            .emailImageBox
                img(src=app_url + 'headerLogo.png' alt='Logo')
                .emailImageText XBIT LOTTO
            .emailMainText
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque In egestas erat imperdiet sed euismod nisi porta lorem mollis
            .emailCodeMainBox
                .emailCodeText  Your personal registration code :
                .emailCodeSend
                    span= code
                .emailCodeNote
                    | important : Ther code displayed is valid for 30 minutes
            .bottomTextEmailBox
                .BTE-text With kind regards
                a.BTE-link(href='#')
                    | Xbitcc.com/lottery
            .footer
                .footerImageBox
                    img(src=app_url + 'footerLogo.png' alt='Logo')
                    .emailImageText XBIT LOTTO
                .footerText
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas
                .footerCopyright
                    | Alright reserve for Xbit llc
